.Budget-headings{
    font-size: 40px;
    color: blanchedalmond;
    text-align: center;
    font-weight: 500;
    margin-top: 20%;
}
.tot-Singers , .tot-Fare{
    font-size: 20px;
    color: rgb(51, 252, 1);
    text-align: center;
}
.Budget-Field{
   
}